.footer
  &_
    &content
      display: flex
      justify-content: space-between
    &list
      display: flex
      width: 54vw
      justify-content: space-between
    &item
      margin-top: -6px
    &copywriting
      display: flex
      justify-content: space-between

  .logo
    margin: 0