.preview
  &_
    &title
      width: 45%
    &subtitle
      width: 37%

//************************************

.sales
  .card
    max-width: 305px

//*********************************************************

.buing
  padding-bottom: 33px
  &_
    &field
      &--
        &name
          width: 44%
          margin-bottom: 26px
        &phone
          width: 44%
          margin-bottom: 26px
    &content
      width: 54%
      padding: 50px 7px 24px 81px
    &radio-box
      justify-content: flex-start
      margin-bottom: 28px
      padding-left: 10px
    
    &decor
      width: 46%
    