include ../../mixins/index
<!DOCTYPE html>
html(lang='ru')
  include ../block/head
    
  body
    block header
      
    block main
      
    block footer
    
    .modal-wrapper#modal-wrapper
      .modal.modal-position.--position-2.pos-abs(aria-hidden='true')#formModal
        .modal.modal__overlay(data-micromodal-close)
        .modal.modal__container#innerModal(aria-modal='true')

    block modal 
      include ../block/modal
