sections.breadcrums-wrap 
  .container
    ul.breadcrumbs
      li.breadcrumbs_item
        a.breadcrumbs_link(href="./") Главная
        img.breadcrumbs_icon(src="./images/icons/icons.svg#arrow-leng", alt="")
      li.breadcrumb_item
        a.breadcrumbs_link(href="./") Машины на месте
        img.breadcrumbs_icon(src="./images/icons/icons.svg#arrow-leng", alt="")
      li.breadcrumbs_item
        a.breadcrumbs_link(href="./") BMW 320d (135 kw)