footer.footer-wrap 
  .container
    .footer
      .footer_content
        if notLinkLogo == true
          .logo
            img.logo_img(src="@img/logo-2.png")
        else
          a.logo(href='./')
            img.logo_img(src="@img/logo-2.png")
        nav.footer_menu
          ul.footer_list
            li.footer_item
              a.footer_link(href="#anchor-preview") Главная
            li.footer_item
              a.footer_link(href="#anchor-sales") Продажа авто
            li.footer_item
              a.footer_link(href="#anchor-buing") Покупка авто
            li.footer_item
              a.footer_link(href="#anchor-sale-step") Реализация
            li.footer_item
              a.footer_link(href="#anchor-why-us") Почему мы
            li.footer_item
              a.footer_link(href="#anchor-about-us") О нас
            li.footer_item
              a.footer_link(href="#anchor-map") Контакты
      .footer_copywriting
        p.footer_copywriting-text Слокас 52 (LV-1007) Рига
        p.footer_copywriting-text Все права защищены © Bp Auto
.btn-top_wrap
  a.btn-top_body.btn-top_body--active.js-btn-up(href="#js-header")
    img.btn-top_icon(src="./images/icons/icons.svg#arrowfatup")
