head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=50.0,  maximum-scale=1, user-scalable=0")
    meta(name="description" content="Продажа качественных авто в Риге.")
    meta(name="keywords" content="продажа авто,продажа авто в Риге,продажа качественных авто в Риге,продажа автомобилей,продажа автомобилей в Риге,продажа качественных автомобилей в Риге,купить машину,купить машину в риге,авторынок,авторынок в риге,автобазар,автобазар в риге,продажа бу авто,продажа бу авто в риге,машина купить,машина купить в риге,сайт покупки автомобилей,покупка автомобиля,купить автомобиль б у")
    //- color the address bar
    //- meta(name="theme-color" content="#8F67A4")
    block title
    link(rel="icon" type="image/png" sizes="192x192" href="@img/fav2_192.png")
    link(rel="stylesheet" type="text/css" media="all" href='./css/style.min.css')
    script(type="text/javascript", src='./js/app.min.js' defer)
