section.call-us-wrap 
  .container
    .call-us
      img.call-us_bg-img(src="@img/logo-name.png")
      h2.call-us_title Свяжитесь с нами
      .call-us_btn.call-us_btn--right
        img.call-us_btn-icon(src="./images/icons/icons.svg#phone")

        a.call-us_btn-link(target="_blank" href="tel:+37126858674") +(371) 26858674
        a(target="_blank" href="https://wa.me/+37126858674")
          img.call-us_btn-soc(src="@img/icon-whatsapp.png")
        a(target="_blank" href="https://t.me/nb_pavel")
          img.call-us_btn-soc(src="@img/icon-tg.png")
      .call-us_btn.call-us_btn--left
        img.call-us_btn-icon(src="./images/icons/icons.svg#email")
        a.call-us_btn-link(target="_blank" href="mailto:info@bpauto.lv") info@bpauto.lv
        