section.prod-data-wrap
  .container
    .product_data
      h2.product_data-model BMW 320d (135 kw)
      h2.product_data-price 12 500 €
      .product_data-box
        .product_data-item
          img.product_data-icon(src="./images/icons/icons.svg#card-calendar")
          p.product_data-name Год выпуска
          p.product_data-value 2014
        .product_data-item
          img.product_data-icon(src="./images/icons/icons.svg#card-speed")
          p.product_data-name Пробег
          p.product_data-value 79 326 км
        .product_data-item
          img.product_data-icon(src="./images/icons/icons.svg#card-car")
          p.product_data-name Артикул
          p.product_data-value AP-054
        .product_data-item
          img.product_data-icon(src="./images/icons/icons.svg#suspension")
          p.product_data-name Коробка
          p.product_data-value Автомат
        .product_data-item
          img.product_data-icon(src="./images/icons/icons.svg#motor")
          p.product_data-name Мотор
          p.product_data-value 2.0 TDI
        .product_data-item
          img.product_data-icon(src="./images/icons/icons.svg#card-hands")
          p.product_data-name Тип продажи
          p.product_data-value Свой авто