section.prod-desc-wrap
  .container
    .product-desc
        p.product-desc_title Описание
        p.product-desc_label Цена
        h2.product-desc_price 12 500 €
        br
        p.product-desc_name BMW F30 320d. Мотор 135kW/184 hp. Glacier Silver.
        br
        p.product-desc_text Все обслуживания у диллера, полная сервисная история, 
                          | оригинальный пробег.
        br
        p.product-desc_text Комплектация:
        p.product-desc_text xenon (Led) фары
        p.product-desc_text климат-контроль с опцией кондиционерадатчик дождя
        p.product-desc_text кожаный салон с подогревом сидений
        p.product-desc_text круиз-контроль
        p.product-desc_text мультируль
        p.product-desc_text борт компьютерпарковочные датчики спереди и сзади
        p.product-desc_text электро фаркоп
        p.product-desc_text start-stop
        p.product-desc_text навигация по всей Европе
        p.product-desc_text тонированные задние стекла
        p.product-desc_text маркировка зеркал и стекол от Autonams
        p.product-desc_text радио/cd/usb/mp3
        p.product-desc_text M+S резина с ориг. дисками BMW на 18
        p.product-desc_text hands free (bluetooth) можно подключить телефон и слушать
        p.product-desc_text музыку сервисная книга, 2 ключа и др. опции.
        p.product-desc_text
        br 
        p.product-desc_text Ищешь хороший авто и не знаешь как его выбрать из всех,
                          | здесь наши преимущества по сравнению с другими продавцами:
        p.product-desc_text - перед покупкой, все машины мы проверяем лично (на окрасы, 
                          | диагностику, ходовую часть и др.)
        p.product-desc_text - на этот и другие авто, мы высылаем справку с дилерской базы, 
                          | которая подтверждает подлинность пробега
        p.product-desc_text - проверить машину перед покупкой, вы можете у нас в сервисе с вашим 
                          | мастером (весь необходимый инструмент есть на месте)
        p.product-desc_text - после покупки автомобиля, вы можете обслуживать его у нас 
                          | (всегда хорошие цены и порядочный подход к каждому клиенту)
        p.product-desc_text - есть опция быстрого выкупа без торга, для этого предложите 
                          | свою цену на сайте и мы ее рассмотрим
        br
        p.product-desc_text Наша компания занимается проверкой, ремонтом, продажей автомобилей 
                          | в 2014 года.
        br
        p.product-desc_text По всем вопросам, пожалуйста звоните. Дополнительную информацию 
                          | можем отправить по запросу.
        br
        p.product-desc_text Машина находится - Рига/Илгуциемс.
        buttom.product-desc_btn.js-modal-trigger(data-modal-name="modal-1")
          img.product-desc_icon(src="./images/icons/icons.svg#your-price")
          span Предложить свою цену