section.next-cars-wrap
  .container
    .next-cars
      h2.next-cars_title Другие предложения
      a.card.next-cars_item(href="/product")
        img.card_img(src="@img/card-preview.png")
        h5.card_title BMW 320d (135kw)
        p.card_subtitle 2014, 223 т. км., Автомат, 2.0  TDI
        p.card_price 12 500 EUR
        .card_data
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-calendar")
            span.card_param-name Год выпуска
            span.card_param-data 223 326
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-speed")
            span.card_param-name Пробег
            span.card_param-data 223 326
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-car")
            span.card_param-name Артикул
            span.card_param-data 223 326
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-hands")
            span.card_param-name Тип продажи
            span.card_param-data Свой авто
        button.card_btn.btn-second Подробнее
      a.card.next-cars_item(href="/product")
        img.card_img(src="@img/card-preview.png")
        h5.card_title BMW 320d (135kw)
        p.card_subtitle 2014, 223 т. км., Автомат, 2.0  TDI
        p.card_price 12 500 EUR
        .card_data
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-calendar")
            span.card_param-name Год выпуска
            span.card_param-data 223 326
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-speed")
            span.card_param-name Пробег
            span.card_param-data 223 326
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-car")
            span.card_param-name Артикул
            span.card_param-data 223 326
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-hands")
            span.card_param-name Тип продажи
            span.card_param-data Свой авто
        button.card_btn.btn-second Подробнее
      a.card.next-cars_item(href="/product")
        img.card_img(src="@img/card-preview.png")
        h5.card_title BMW 320d (135kw)
        p.card_subtitle 2014, 223 т. км., Автомат, 2.0  TDI
        p.card_price 12 500 EUR
        .card_data
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-calendar")
            span.card_param-name Год выпуска
            span.card_param-data 223 326
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-speed")
            span.card_param-name Пробег
            span.card_param-data 223 326
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-car")
            span.card_param-name Артикул
            span.card_param-data 223 326
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-hands")
            span.card_param-name Тип продажи
            span.card_param-data Свой авто
        button.card_btn.btn-second Подробнее
      a.card.next-cars_item(href="/product")
        img.card_img(src="@img/card-preview.png")
        h5.card_title BMW 320d (135kw)
        p.card_subtitle 2014, 223 т. км., Автомат, 2.0  TDI
        p.card_price 12 500 EUR
        .card_data
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-calendar")
            span.card_param-name Год выпуска
            span.card_param-data 223 326
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-speed")
            span.card_param-name Пробег
            span.card_param-data 223 326
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-car")
            span.card_param-name Артикул
            span.card_param-data 223 326
          p.card_param
            img.card_param-icon(src="./images/icons/icons.svg#card-hands")
            span.card_param-name Тип продажи
            span.card_param-data Свой авто
        button.card_btn.btn-second Подробнее
      