section.prod-slider-wrap
  .container
    .product_slider
      .product_slide.slide-1.js-open-slider
        img.product_slide-img(src="@img/products/bmw-3.jpg")
        a.product_slide-link
          span.product_slide-text Посмотреть еще
      .product_slide.slide-2.js-open-slider
        img.product_slide-img(src="@img/products/old-img/bmw-2.png")
        a.product_slide-link
          span.product_slide-text Посмотреть еще
      .product_slide.slide-3.js-open-slider
        img.product_slide-img(src="@img/products/old-img/bmw-3.png")
        a.product_slide-link
          span.product_slide-text Посмотреть еще
      .product_slide.slide-4.js-open-slider
        img.product_slide-img(src="@img/products/old-img/bmw-4.png")
        a.product_slide-link
          span.product_slide-text Посмотреть еще
      .product_slide.slide-5.js-open-slider
        img.product_slide-img(src="@img/products/old-img/bmw-5.png")
        a.product_slide-link
          span.product_slide-text Посмотреть еще
      .product_slide.slide-6.js-open-slider
        img.product_slide-img(src="@img/products/old-img/bmw-6.png")
        a.product_slide-link
          span.product_slide-text Посмотреть еще
    .modal-slider.js-body-slider
      .modal-slider_wrap.js-close-slider
      .modal-slider_btn-close.js-close-slider
      .modal-slider_body.js-car-slider
        .modal-slide_wrap
          .modal-slide_body
            img.modal-slide_image(src="@img/products/bmw-1.jpg")
        .modal-slide_wrap
          .modal-slide_body
            img.modal-slide_image(src="@img/products/bmw-2.jpg")
        .modal-slide_wrap
          .modal-slide_body
            img.modal-slide_image(src="@img/products/bmw-3.jpg")
        .modal-slide_wrap
          .modal-slide_body
            img.modal-slide_image(src="@img/products/bmw-4.jpg")
        .modal-slide_wrap
          .modal-slide_body
            img.modal-slide_image(src="@img/products/bmw-5.jpg")
        .modal-slide_wrap
          .modal-slide_body
            img.modal-slide_image(src="@img/products/bmw-6.jpg")
      

