.sales
  &_
    &title
      width: 50%
    &cards
      justify-content: space-between

//***********************************

.buing
  &_
    &form
      justify-content: space-around
    &field
      width: 93%
    &rec
      width: 231px
      height: 55px
