.sales
  &_
    &cards
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around
    &filters
      margin-bottom: 27px

  .card
    max-width: 315px
    &_
      &img
        margin-bottom: 21px
      &param
        width: 50%

//**********************************************

.why-us
  padding: 35px 4px 70px 4px