.preview
  padding: 20vh 0 35vh 0
  height: 60vh
  min-height: 360px
  &_
    &title
      width: 80%
      margin: 0 auto 15px auto
      color: var(--theme-color-white)
      text-align: center
      text-transform: uppercase
    &subtitle
      margin: 0 auto 15px auto
      color: var(--theme-color-white)
      text-align: center
    &btn
      display: block
      width: 212px
      border-radius: 50px
      margin: 0 auto
