section.about-us-wrap
  .container
    .about-us#anchor-about-us
      h2.about-us_title О Hас
      .about-us_content
        br
        p.about-us_text Advanced - это команда специалистов в сфере продажи, ремонта автомобилей 
                      | с 15-ти летнем опытом. Данное направление является частью компании BP Auto.
        br
        p.about-us_text Так как мы сами начали с покупке, продажи автомобилей, еще в далеком 2012 
                      | году, мы хорошо понимаем рынок, тенденции на нем и формирования цен, но 
                      | помимо, продажи авто, имеем также свой автосервис, где ремонтируем 
                      | автомобили для своих клиентов, таким образом, мы покрываем и техническую часть. 
        br
        p.about-us_text Это и делает наше предложение интересным и конкурентным. У нас не только можно 
                      | приобрести хороший, проверенный б/у автомобиль но и обслуживать его дальше 
                      | у нас в автосервисе. Есть также и платная гарантия на купленные у нас автомобили. 
        br
        p.about-us_text Помимо покупке автомобиля, мы также можем выкупить ваш старый авто, можно 
                      | сделать трейд-ин или оставить его у нас на реализацию. 
        br
        p.about-us_text Принцип одного партнера или номера в записной книжке, который поможет вам, 
                      | решить все повседневные автомобильные вопросы. Все в одном месте, с хорошим 
                      | отношением и по адекватным ценам. 
        br
        p.about-us_text Это точно будет, что-то новое для вас и мы надеемся наш подход вам понравится. 
        br
        p.about-us_text Будем рады долгосрочному сотрудничеству с новыми клиентами.  
        br
        p.about-us_text По всем вопросам, пожалуйста обращайтесь звоните. Все контакты есть на сайте. 
      .about-us_dates
        img.about-us_decor(src="@img/border-line.png")
        .about-us_date
          .about-us_date-dot
          h2.about-us_date-num 2012
          p.about-us_date-text Начало работы компании в сфере покупки-продажи авто
        .about-us_date
          .about-us_date-dot
          h2.about-us_date-num 2018
          p.about-us_date-text Открытие первого автосервиса (на партнерской основе)
        .about-us_date
          .about-us_date-dot
          h2.about-us_date-num 2020
          p.about-us_date-text Открытие второго, персонального автосервиса
        .about-us_date
          .about-us_date-dot.about-us_date-dot--last
          h2.about-us_date-num 2024
          p.about-us_date-text Объединение двух направлений по продаже и ремонту авто
      .about-us_labels
        a.about-us_label(target="_blank" href="https://bpauto.lv/avtopodbor/index.html")
          img.about-us_label-icon(src="./images/icons/icons.svg#check-auto")
          span.about-us_label-text Проверка авто и подбор
        a.about-us_label(target="_blank" href="https://bpauto.lv/")
          img.about-us_label-icon(src="./images/icons/icons.svg#car-serv")
          span.about-us_label-text Автосервис
        a.about-us_label(target="_blank" href="https://bpauto.lv/cardelivery/index.php")
          img.about-us_label-icon(src="./images/icons/icons.svg#car-deliv")
          span.about-us_label-text Доставка авто