section.map-wrap#anchor-map
    .map_body
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2175.708019198461!2d24.0607573!3d56.9538036!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eecffd5268be5f%3A0xc439fb05a5f73f44!2zU2xva2FzIGllbGEgNTIsIEt1cnplbWVzIHJham9ucywgUsSrZ2EsIExWLTEwMDcsINCb0LDRgtCy0ZbRjw!5e0!3m2!1suk!2sde!4v1731796074901!5m2!1suk!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    .map_contacts
      h2.map_contacts-title Контакты
      p.map_contacts-subtitle ADVANCED | Bp Auto
      .map_contact
        img.map_contact-icon.map_contact-icon--local(src="./images/icons/icons.svg#mark-map-blue")
        p.map_contact-name
          a.map_contact-link(href="https://www.google.com/maps/place/Slokas+iela+52,+Kurzemes+rajons,+R%C4%ABga,+LV-1007,+%D0%9B%D0%B0%D1%82%D0%B2%D1%96%D1%8F/@56.9538036,24.0607573,17z/data=!4m6!3m5!1s0x46eecffd5268be5f:0xc439fb05a5f73f44!8m2!3d56.9538007!4d24.0633322!16s%2Fg%2F11c5m8397v?entry=ttu&g_ep=EgoyMDI0MTExMy4xIKXMDSoJLDEwMjExMjM0SAFQAw%3D%3D") Slokas iela 52, Rīga, LV-1007
      .map_contact
        img.map_contact-icon(src="./images/icons/icons.svg#phone")
        p.map_contact-name Тел: 
          a.map_contact-link(href="+37126858674") + (371) 26858674
      .map_contact
        img.map_contact-icon(src="./images/icons/icons.svg#email")
        p.map_contact-name Email: 
          a.map_contact-link(href="mailto:info@bpauto.lv") info@bpauto.lv
      .map_contact
        img.map_contact-icon(src="./images/icons/icons.svg#planet-blue")
        p.map_contact-name Web: 
          a.map_contact-link(href="www.bpauto.lv") www.bpauto.lv
      