section.preview-wrap
  img.preview-bg_img(src="@img/preview-bg.jpg")
  .container
    .preview
      h1.preview_title Продажа проверенных 
                      br
                      |б/у автомобилей из европы
      p.preview_subtitle Послепродажное обслуживание и гарантия. 
                        |Станьте нашим клиентом уже сегодня.
      button.preview_btn.btn-second Подробнее