section.sale-step-wrap
  .container
    .sale-step#anchor-sale-step
      h2.sale-step_title Реализация
      p.sale-step_text Реализация вашего автомобиля у нас на площадке.
      h3.sale-step_subtitle Что входит в эту услугу:
      .sale-step_box
        .sale-step_item
          .sale-step_box-icon
            img.sale-step_icon(src="./images/icons/icons.svg#broom")
          h4.sale-step_item-title Чистка автомобиля
          p.sale-step_item-subtitle подготовка к фотосессии
        .sale-step_item
          .sale-step_box-icon
            img.sale-step_icon(src="./images/icons/icons.svg#camera")
          h4.sale-step_item-title Фотосессия автомобиля 
          p.sale-step_item-subtitle с видео обзором
        .sale-step_item
          .sale-step_box-icon
            img.sale-step_icon(src="./images/icons/icons.svg#text")
          h4.sale-step_item-title Профессиональный текст
          p.sale-step_item-subtitle Для вашего объявления
        .sale-step_item
          .sale-step_box-icon
            img.sale-step_icon(src="./images/icons/icons.svg#ad")
          h4.sale-step_item-title Размещение объявления на площадке
          p.sale-step_item-subtitle от нашего или вашего имени
        .sale-step_item
          .sale-step_box-icon
            img.sale-step_icon(src="./images/icons/icons.svg#car-blue")
          h4.sale-step_item-title Показываем автомобиль клиенту
          p.sale-step_item-subtitle тест драйв и показ на  подъемнике
        .sale-step_item
          .sale-step_box-icon
            img.sale-step_icon(src="./images/icons/icons.svg#deal")
          h4.sale-step_item-title Все переговоры с клиентом
          p.sale-step_item-subtitle подготовка сделки
      p.sale-step_text.sale-step_text--end * Также по этой услуге, приглашаем к сотрудничеству авто продавцов. 
                      | На стоянке можем разместить до 15 авто.  
      p.sale-step_text.sale-step_text--end * Автомобили мы берем на реализацию после быстрого осмотра нашим специалистом.
      p.sale-step_text.sale-step_text--end * По всем вопросам, обращайтесь пожалуйста по телефону или по эл. почте.