section.sales-wrap
  .container
    .sales#anchor-sales
      h2.sales_title Продажа авто 
        span.sales_title.sales_title--mini / Найдено 576 авто
      .sales_filters
        .sales_sort.js-sort-dropdown
          p.sales_sort-label.js-sort-btn Сортировать: 
            span.sales_sort-inp по умолчанию
          ul.sales_sort-list.sales_sort-list--right
            li.sales_sort-item Все 
            li.sales_sort-item Свой авто 
            li.sales_sort-item Реализация 
            li.sales_sort-item Продано 
              
        .sales_sort.js-sort-dropdown
          p.sales_sort-label.js-sort-btn Отображать: 
            span.sales_sort-inp Все
          ul.sales_sort-list.sales_sort-list--left
            li.sales_sort-item В начале новые
            li.sales_sort-item Дешевые наверху
            li.sales_sort-item Дорогие наверху
      .sales_cards
        a.card.sales_card(href="/product")
          img.card_img(src="@img/card-preview.png")
          h5.card_title BMW 320d (135kw)
          p.card_subtitle 2014, 223 т. км., Автомат, 2.0  TDI
          p.card_price 12 500 EUR
          .card_data
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-calendar")
              span.card_param-name Год выпуска
              span.card_param-data 223 326
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-speed")
              span.card_param-name Пробег
              span.card_param-data 223 326
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-car")
              span.card_param-name Артикул
              span.card_param-data 223 326
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-hands")
              span.card_param-name Тип продажи
              span.card_param-data Свой авто
          button.card_btn.btn-second Подробнее
        a.card.sales_card(href="/product")
          img.card_img(src="@img/card-preview.png")
          h5.card_title BMW 320d (135kw)
          p.card_subtitle 2014, 223 т. км., Автомат, 2.0  TDI
          p.card_price 12 500 EUR
          .card_data
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-calendar")
              span.card_param-name Год выпуска
              span.card_param-data 223 326
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-speed")
              span.card_param-name Пробег
              span.card_param-data 223 326
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-car")
              span.card_param-name Артикул
              span.card_param-data 223 326
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-hands")
              span.card_param-name Тип продажи
              span.card_param-data Свой авто
          button.card_btn.btn-second Подробнее
        a.card.sales_card(href="/product")
          img.card_img(src="@img/card-preview.png")
          h5.card_title BMW 320d (135kw)
          p.card_subtitle 2014, 223 т. км., Автомат, 2.0  TDI
          p.card_price 12 500 EUR
          .card_data
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-calendar")
              span.card_param-name Год выпуска
              span.card_param-data 223 326
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-speed")
              span.card_param-name Пробег
              span.card_param-data 223 326
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-car")
              span.card_param-name Артикул
              span.card_param-data 223 326
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-hands")
              span.card_param-name Тип продажи
              span.card_param-data Свой авто
          button.card_btn.btn-second Подробнее
        a.card.sales_card(href="/product")
          img.card_img(src="@img/card-preview.png")
          h5.card_title BMW 320d (135kw)
          p.card_subtitle 2014, 223 т. км., Автомат, 2.0  TDI
          p.card_price 12 500 EUR
          .card_data
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-calendar")
              span.card_param-name Год выпуска
              span.card_param-data 223 326
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-speed")
              span.card_param-name Пробег
              span.card_param-data 223 326
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-car")
              span.card_param-name Артикул
              span.card_param-data 223 326
            p.card_param
              img.card_param-icon(src="./images/icons/icons.svg#card-hands")
              span.card_param-name Тип продажи
              span.card_param-data Свой авто
          button.card_btn.btn-second Подробнее
        