section.why-us-wrap
  .why-us_decor
    img.why-us_decor-img(src="@img/why-us-bg-2.jpg")
  .container 
    .why-us#anchor-why-us
      h2.why-us_title Почему мы
      p.why-us_subtitle Почему выбирают нас
      .why-us_box
        .why-us_item
          .why-us_box-icon.why-us_box-icon--big
            img.why-us_icon(src="./images/icons/icons.svg#num-01")
          .why-us_box-icon.why-us_box-icon--small
            img.why-us_icon(src="./images/icons/icons.svg#stars-check")
          h3.why-us_item-title Большой опыт в работе с автомобилями
        .why-us_item
          .why-us_box-icon.why-us_box-icon--big
            img.why-us_icon(src="./images/icons/icons.svg#num-02")
          .why-us_box-icon.why-us_box-icon--small
            img.why-us_icon(src="./images/icons/icons.svg#cars")
          h3.why-us_item-title Понимание рынка и его текущих направлений 
        .why-us_item
          .why-us_box-icon.why-us_box-icon--big
            img.why-us_icon(src="./images/icons/icons.svg#num-03")
          .why-us_box-icon.why-us_box-icon--small
            img.why-us_icon(src="./images/icons/icons.svg#map-point")
          h3.why-us_item-title Все наши услуги делаемв одном месте 
        .why-us_item
          .why-us_box-icon.why-us_box-icon--big
            img.why-us_icon(src="./images/icons/icons.svg#num-04")
          .why-us_box-icon.why-us_box-icon--small
            img.why-us_icon(src="./images/icons/icons.svg#flight-point")
          h3.why-us_item-title Хорошая локация площадки, рядом с Центром и рядом с Аэропортом
        .why-us_item
          .why-us_box-icon.why-us_box-icon--big
            img.why-us_icon(src="./images/icons/icons.svg#num-05")
          .why-us_box-icon.why-us_box-icon--small
            img.why-us_icon(src="./images/icons/icons.svg#customer-review")
          h3.why-us_item-title Индивидуальный подход к каждому клиенту
        .why-us_item
          .why-us_box-icon.why-us_box-icon--big
            img.why-us_icon(src="./images/icons/icons.svg#num-06")
          .why-us_box-icon.why-us_box-icon--small
            img.why-us_icon(src="./images/icons/icons.svg#service-agent")
          h3.why-us_item-title Все время на связи по всем вопросам наших клиентов
        