:root {
  --mq-size-sm: 540px;
  --mq-size-md: 716px;
  --mq-size-lg: 960px;
  --mq-size-xl: 1170px;
  --mq-size-xl: 1170px;
  --mq-size-xxl: 1320px;

  --theme-color-white: #fff;
  --theme-color-black: #000;
  --theme-color-base: #013976;
  --theme-color-second: #F4F4F4;
  --theme-color-three: #1C2E42;
  // --theme-bg-base: #c7c6c6;
  // --theme-bg-secondary: #F9F4F2;
  // --theme-bg-modal: #DBDBDB;
  // --theme-color-error: #BC3850;

  --text-color-base: #646464;
  --text-color-secondary: #101010;
  --text-color-three: #E62828;
  
  --btn-color-base: #E6230F;
  --btn-color-second: #1C2E42;
  // --link-color-base: #3314ff;
}