:root {
  --mq-size-sm: 540px;
  --mq-size-md: 716px;
  --mq-size-lg: 960px;
  --mq-size-xl: 1170px;
  --mq-size-xl: 1170px;
  --mq-size-xxl: 1320px;

  --theme-color-white: #fff;
  --theme-color-black: #000;
  --theme-color-base: #013976;
  --theme-color-second: #F4F4F4;
  --theme-color-three: #1C2E42;
  --theme-color-four: #273A50;
  --theme-color-five: #0B1B2D;
  --theme-color-six: #E7E7E7;
  
  --text-color-base: #646464;
  --text-color-secondary: #101010;
  --text-color-three: #E62828;
  --text-color-four: #0960AD;
  --text-color-five: #101010;
  
  --btn-color-base: #E6230F;
  --btn-color-second: #1C2E42;
}